.MuiAccordion-root {
    background-color: transparent !important;
}

.MuiAccordion-root , .MuiSvgIcon-root {
    color: var(--theme-gray) !important;
}

.experience-accordion-header, .experience-info-item {
    font-family: var(--theme-font);
}

.experience-accordion-toggle-icon {
    font-size: 2.5rem !important;
}

.company-logo {
    width: 120px;
    height: 120px;
    justify-self: start;
    float: left;
}

.experience-info-container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 1px;
}

.experience-info-item-header {
    display: flex;
    align-items: center;
}

.experience-info-item {
    margin-left: 20px;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.job-title {
    font-weight: bold;
    justify-self: start;
}

.task-container {
    margin: 25px 20px;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--theme-gray);
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.task-bullet-icon {
    margin: 5px;
    color: var(--theme-green);
    font-size: 1.5rem;
}

.task {
    margin: 0 10px;
}

.skill-list {
    display: flex;
    margin-left: 10px;
    flex-wrap: wrap;
}

@media (max-width: 800px) { 
    .title-years-row {
        display: inline;
    }
}

.md-skill-badge p {
    margin: 5px;
    padding: 0 5px;
}

.md-skill-badge img {
    border-radius: 12px;
}
