.skill-content {
    text-align: left;
    font-size: 20px;
    margin-left: 50px;
    display: flex;
}

.skill-name {
    color: var(--theme-gray);
    width: 35%;
    margin-right: 30px;
    margin-top: 10px;
}

.stars {
    font-size: 40px;
}

@media (max-width: 800px) { 
    .skill-content {
        margin-left: 0;
        width: 100%;
    }

    .skill-name {
        margin-right: 50px;
    }
}